<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ titre }}</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <h1>{{ titre }}</h1>
    <table>
        <thead>
            <tr>
                <th>ID Commande</th>
                <th>ID Client</th>
                <th>Nom Client</th>
                <th>Date Commande</th>
                <th>Montant Total</th>
            </tr>
        </thead>
        <tbody>
            {% for row in donnees %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
